<div class="h-[100vh] bg-bgGray w-full p-10 pr-20">
    <div class="mb-8 flex justify-start items-center gap-2">
        <span nz-icon nzType="settingsIcon:antd" class="icon !text-[20px]" nzTheme="outline"></span>
        <h3 class="uppercase text-primary text-[18px] font-medium">Cài đặt</h3>
    </div>
    <div class="flex flex-col gap-10 w-full ">
        <div class="flex gap-16 items-center w-full bg-white rounded-lg shadow-shadow-timeword p-4">
            <div class="flex flex-col gap-2">
                <span class="font-medium text-base">Ngôn ngữ</span>
                <nz-select [(ngModel)]="lang" class="w-[280px]" nzPlaceHolder="Ngôn ngữ"
                    (ngModelChange)="changeLanguage($event)">
                    <nz-option nzValue="vi" nzLabel="Tiếng Việt"></nz-option>
                    <nz-option nzValue="en" nzLabel="Tiếng Anh"></nz-option>
                </nz-select>
            </div>
            <div class="flex flex-col gap-2">
                <span class="font-medium text-base">Múi giờ</span>
                <nz-select [(ngModel)]="timeZone" class="w-[280px]" nzPlaceHolder="Múi giờ"
                    (ngModelChange)="changeTimeZone($event)">
                    <nz-option *ngFor="let timeZone of timeZoneList" [nzValue]="timeZone.value"
                        [nzLabel]="timeZone.label"></nz-option>
                </nz-select>
            </div>
        </div>
        <div class="flex justify-between items-center w-full bg-white rounded-lg shadow-shadow-timeword p-4">
            <div class="flex flex-col gap-2 items-start">
                <div class="text-textColor font-medium text-[18px]">
                    <i class="fa-solid fa-lock"></i>
                    Mật khẩu
                </div>
                <div class="font-normal text-[#888] text-[16px]">Để đảm bảo an toàn bạn nên đổi mật khẩu ít nhất 6 tháng 1 lần</div>
            </div>
            <div (click)="handelOpenPopUpChangePassword()" class="text-white bg-primary text-[16px] px-4 py-2 rounded-xl shadow-shadow-timeword cursor-pointer">Thay đổi mật khẩu</div>
        </div>
        <div class="flex justify-between items-center w-full bg-white rounded-lg shadow-shadow-timeword p-4">
            <div class="flex flex-col gap-2 items-start">
                <div class="text-textColor font-medium flex items-center gap-2 text-[18px]">
                    <i class="fa-regular fa-envelope"></i>
                    Email
                </div>
                <div class="font-normal text-[#888] text-[16px]">
                    {{infoAccount.newEmail === null ? infoAccount?.email : infoAccount.newEmail}}
                </div>
            </div>
            <div 
            (click)="handleOpenPopUpForgotPassWord()"
            class="text-white bg-primary text-[16px] px-4 py-2 rounded-xl shadow-shadow-timeword cursor-pointer">Thay đổi email</div>
        </div>
    </div>
</div>

<app-change-password *ngIf="isVisiblePopUpChangePassword"
[isVisiblePopUpChangePassword]="isVisiblePopUpChangePassword"
(visiblePopUpChangePassword)="handelVisiblePopUpChangePassword($event)"></app-change-password>

<app-check-password *ngIf="isVisibleCheckPassword" [isVisiblePopUpCheckPassword]="isVisibleCheckPassword"
(isVisiblePopUpOpen)="handleShowPopUpForgotPassWord($event)"></app-check-password>

<app-check-email *ngIf="isVisibleCheckEmail" [isVisiblePopUpCheckEmail]="isVisibleCheckEmail"
(isVisiblePopUpOpen)="handleShowCheckEmail($event)"></app-check-email>

<app-check-insert-otp *ngIf="isVisibleInsertOTP" [isVisiblePopUpInsertOTP]="isVisibleInsertOTP"
(isVisiblePopUpOpen)="handleShowInsertOTPPopUp($event)"></app-check-insert-otp>

<app-change-email *ngIf="isVisibleChangeEmail" [isVisiblePopUpChangeEmail]="isVisibleChangeEmail"
(isVisiblePopUpOpen)="handleShowChangeEmail($event)"></app-change-email>

<app-insert-otp-new-email *ngIf="isVisiblePopUpNewOTP" [isVisiblePopUpNewOTP]="isVisiblePopUpNewOTP"
(isVisiblePopUpOpen)="handleShowNewOTPPopUp($event)"></app-insert-otp-new-email>