<nz-modal nzWidth="500px" [(nzVisible)]="isVisiblePopUpChangePassword" nzCentered [nzContent]="modalContent"
    [nzFooter]="null" (nzOnCancel)="handleCancel()">
    <ng-template #modalContent>
        <div class="text-start border-b border-primary pb-2 text-primary font-medium text-[22px]">
            <span>Thay đổi mật khẩu</span>
        </div>
        <div class="flex flex-col mt-5 gap-2 h-fit w-full pb-2 overflow-auto">
            <form [formGroup]="form"
                class="grid grid-cols-2 w-full h-fit lg:pb-2 overflow-auto">
                <div class="col-span-2 flex flex-col mb-2">
                    <span>{{'PopUpChangePassword.oldPassword'|translate}}<span class="text-red-500">*</span></span>
                    <mat-form-field class="custom-input col-span-2 relative" appearance="outline">
                        <input matInput formControlName="oldPassword" 
                            id="inputPassChangeOldPassword" type="password" autocomplete="off" />
                        <i *ngIf="hideOldPass" class="fas fa-eye absolute right-0 top-[50%] translate-y-[-50%]"
                        (click)="showOldPass($event)"></i>
                        <i *ngIf="!hideOldPass" class="fa-solid fa-eye-slash absolute right-0 top-[50%] translate-y-[-50%]"
                        (click)="showOldPass($event)"></i>
                        <mat-error class="text-red-600">
                            {{'PopUpRegister.noEmty'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-span-2 flex flex-col mb-2">
                    <span>{{'PopUpChangePassword.newPassword'|translate}}<span class="text-red-500">*</span></span>
                    <mat-form-field class="custom-input col-span-2 relative" appearance="outline">
                        <input matInput formControlName="password" (change)="updateValidateRepass($event)"
                            id="inputPassChangePassword" type="password" autocomplete="off" />
                        <i *ngIf="hidePass" class="fas fa-eye absolute right-0 top-[50%] translate-y-[-50%]"
                            (click)="showPass($event)"></i>
                        <i *ngIf="!hidePass" class="fa-solid fa-eye-slash absolute right-0 top-[50%] translate-y-[-50%]"
                            (click)="showPass($event)"></i>
                        <mat-error
                            *ngIf="form.get('password')?.errors?.['required']&& (form.get('password')?.dirty || form.get('password')?.touched)"
                            class="text-red-600">
                            {{'PopUpRegister.noEmty'|translate}}
                        </mat-error>
                        <mat-error *ngIf="form.get('password')?.errors?.['passWordCheck']" class="text-red-600 !text-[10px]">
                            {{'PopUpRegister.requiredPassword'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-span-2 flex flex-col mb-2">
                    <span>{{'PopUpChangePassword.rePass'|translate}}<span class="text-red-500">*</span></span>
                    <mat-form-field class="custom-input col-span-2" appearance="outline">
                        <input matInput formControlName="rePass" id="inputRePassChangePassword" type="password"
                            autocomplete="off" />
                        <i *ngIf="hideRePass" class="fas fa-eye absolute right-0 top-[50%] translate-y-[-50%]"
                            (click)="showRePass($event)"></i>
                        <i *ngIf="!hideRePass"
                            class="fa-solid fa-eye-slash absolute right-0 top-[50%] translate-y-[-50%]"
                            (click)="showRePass($event)"></i>
                        <mat-error
                            *ngIf="form.get('rePass')?.errors?.['required']&& (form.get('rePass')?.dirty || form.get('rePass')?.touched)"
                            class="text-red-600">
                            {{'PopUpRegister.noEmty'|translate}}
                        </mat-error>
                        <mat-error *ngIf="form.get('rePass')?.errors?.['rePassCheck']" class="text-red-600">
                            {{'PopUpRegister.notMatch'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <div *ngIf="errorMessage" class="text-red-600 flex gap-2 items-center">
                        <i class="fa-solid fa-triangle-exclamation text-red-600"></i>
                        <span>{{ errorMessage }}</span>
                    </div>
                </div>

            </form>
            <div class="flex gap-3 justify-center">
                <button nz-button nzType="primary"
                    class="!bg-primary w-[120px] border-none rounded-lg hover:opacity-60 hover:bg-primary text-white hover:text-black"
                    (click)="handleOk()">Lưu</button>
                <button nz-button
                    class="!bg-[#969696] font-medium w-[120px] border-none rounded-lg hover:opacity-60 text-white"
                    (click)="handleCancel()">Huỷ bỏ</button>
            </div>
        </div>
    </ng-template>
</nz-modal>
