<div class="outer-wrapper flex flex-col" #outerWrapper>
  <div class="title mb-4" *ngIf="title">
    <span class="text-primary font-medium text-xl">{{ title }}</span>
  </div>
  <div class="table-wrapper flex-auto">
    <table>
      <thead class="h-10">
        <ng-container
          *ngTemplateOutlet="
            headers || defaultHeaderTemplate;
            context: { $implicit: data }
          "
        ></ng-container>
      </thead>
      <tbody class="w-full overflow-y-auto overflow-x-hidden">
        <ng-container *ngIf="loaded; else loadingTmpl">
          <ng-container *ngIf="data?.length; else blankTmpl">
            <tr class="h-14 text-sm" *ngFor="let row of data; index as i">
              <ng-container
                *ngTemplateOutlet="
                  rows || defaultRowTemplate;
                  context: { $implicit: row, index: i }
                "
              ></ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
  <ng-container *ngIf="total">
    <div class="flex items-center flex-row-reverse justify-between mt-4">
      <app-share-pagination
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [total]="total"
        (pageIndexChange)="pageIndexChange.emit($event)"
        (pageSizeChange)="pageSizeChange.emit($event)"
      ></app-share-pagination>
    </div>
  </ng-container>
</div>
<ng-template #defaultHeaderTemplate let-data>
  <th *ngFor="let header of data[0] | keyvalue">{{ header.key }}</th>
</ng-template>
<ng-template #defaultRowTemplate let-row>
  <td *ngFor="let item of row | keyvalue">{{ item.value }}</td>
</ng-template>
<ng-template #loadingTmpl>
  <tr class="w-full relative h-0">
    <div
      class="flex items-center justify-center h-14 absolute top-12 inset-x-0"
    >
      <nz-spin nzSize="large"></nz-spin>
    </div>
  </tr>
</ng-template>
<ng-template #blankTmpl>
  <tr class="w-full relative h-0">
    <div
      class="flex items-center justify-center flex-col h-14 absolute vtop-12 inset-x-0"
    >
      <i class="fa-solid fa-face-grin-beam-sweat text-xl mt-4"></i>
      <span class="text-lg">Không có dữ liệu</span>
    </div>
  </tr>
</ng-template>
