<div class=" bg-bgGray w-full rounded-lg p-10">
    <div class="grid grid-cols-[292px,1fr] size-full bg-[#F7F9FC] rounded-lg shadow-2xl">
        <div class="w-[292px] bg-[#4F4F4F] h-full rounded-lg">
            <div class="flex flex-col items-center text-center  mt-[60px] gap-2">
                <img [src]="avatarPreview" class="size-[212px] rounded-full" alt="">
                <span class="font-bold font-Lexend text-white text-2xl text-wrap">{{fullName}}</span>
                <span class="text-base font-semibold text-white">&#64;{{nameOwner}}</span>
            </div>
            <div class="mt-2 text-base">
                <form class="flex justify-between items-center px-8" [formGroup]="avatarChangeForm">
                    <Label for="avatarImage" 
                        class="cursor-pointer w-full text-center text-[#7dbefa] text-base">
                        Chỉnh sửa ảnh đại diện
                    </Label>
                    <input 
                        type="file" 
                        id="avatarImage" 
                        name="avatarImage" 
                        class="hidden" 
                        formControlName="image"
                        (change)="handleFileChange($event, 'avatar')"
                    >
                </form>
            </div>
        </div>
        <div class="flex-1 pt-8 px-[50px] bg-[#F7F9FC] rounded-lg pb-3 overflow-y-auto">
            <div class="flex gap-2 justify-center flex-col items-center">
                <div class="flex items-center gap-3">
                    <i class="fa-regular fa-user text-3xl"></i>
                    <span class="font-Lexend text-3xl font-bold">Thông tin cá nhân</span>
                </div>
                <div class="h-8">
                    <div *ngIf="!isEdit" class="text-info text-xs hover:scale-105 mt-2 cursor-pointer"
                    (click)="handleEdit()">Chỉnh sửa thông tin</div>
                </div>
            </div>
            <form class="flex flex-col gap-2 mt-4 p-[1px] " [formGroup]="form">
                <div class="flex w-full gap-9">
                    <div class="flex flex-col flex-1">
                        <span class="mb-2"
                        [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                        >{{'PopUpRegister.fullName'|translate}}<span class="text-red-500">*</span></span>
                        <mat-form-field class="custom-input " appearance="outline">
                            <input matInput placeholder="Nhập họ và tên" formControlName="fullName" />
                            <mat-error
                                *ngIf="form.get('fullName')?.errors?.['required']&& (form.get('fullName')?.dirty || form.get('fullName')?.touched)"
                                class="text-red-600">
                                {{'PopUpRegister.noEmty'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class=" flex flex-col flex-1">
                        <span class="mb-2"
                        [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                        >Ngày sinh<span class="text-red-500">*</span></span>
                        <mat-form-field class="custom-input " appearance="outline">
                            <input placeholder="Nhập ngày sinh" formControlName="dob" matInput [matDatepicker]="picker2" />
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error
                                *ngIf="form.get('dob')?.errors?.['required']&& (form.get('dob')?.dirty || form.get('dob')?.touched)"
                                class="text-red-600">
                                {{'PopUpRegister.noEmty'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex w-full gap-9">
                    <div class="flex flex-col flex-1">
                        <span class="mb-2"
                        [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                        >Username<span class="text-red-500">*</span></span>
                        <mat-form-field class="custom-input " appearance="outline">
                            <input matInput placeholder="Nhập username" formControlName="userName" />
                            <mat-error
                                *ngIf="form.get('userName')?.errors?.['required']&& (form.get('userName')?.dirty || form.get('userName')?.touched)"
                                class="text-red-600">
                                {{'PopUpRegister.noEmty'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col flex-1">
                        <span class="mb-2"
                        [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                        >Giới tính<span class="text-red-500">*</span></span>
                        <mat-form-field class="custom-input " appearance="outline">
                            <mat-select formControlName="gender">
                                <mat-option *ngFor="let gender of listGender" [value]="gender.value">
                                  {{ gender.label }}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="form.get('gender')?.errors?.['required']&& (form.get('gender')?.dirty || form.get('gender')?.touched)"
                                class="text-red-600">
                                {{'PopUpRegister.noEmty'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex w-full gap-9">
                    <div class="flex flex-col flex-1">
                        <span class="mb-2"
                        [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                        >{{'PopUpRegister.phoneNumber'|translate}}<span
                                class="text-red-500 text-[8px] cursor-pointer translate-y-[-5px] px-1 ml-1 inline-block border border-red-500"
                                >i</span></span>
                        <mat-form-field class="custom-input " appearance="outline">
                            <input placeholder="Nhập số điện thoại" matInput formControlName="phoneNumber" maxlength="10" />
                            <mat-error *ngIf="form.get('phoneNumber')?.errors?.['phoneNumberCheck']" class="text-red-600">
                                {{'PopUpRegister.wrongPhoneNumber'|translate}}
                            </mat-error>
        
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col flex-1">
                        <span class="mb-2"
                        [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                                >Email<span
                                class="text-red-500 text-[8px] cursor-pointer translate-y-[-5px] px-1 ml-1 inline-block border border-red-500">i</span></span>
                        <div class="flex relative">
                            <mat-form-field class="custom-input   w-full" appearance="outline">
                                <input placeholder="Nhập Email" class="!w-[100%]" matInput formControlName="email" />
                                <mat-error
                                    *ngIf="form.get('email')?.errors?.['email']&& (form.get('email')?.dirty || form.get('email')?.touched)"
                                    class="text-red-600">
                                    {{'PopUpRegister.wrongEmail'|translate}}
                                </mat-error>
                            </mat-form-field>
                            <!-- <span class="absolute text-[12px] top-[36%] right-2 translate-y-[-50%] hover:opacity-70 cursor-pointer"
                                (click)="handleConfirmEmail()">Xác nhận</span> -->
                        </div>
                    </div>
                </div>
                <div class="flex flex-col w-full">
                    <div class="flex flex-col flex-1">
                        <span class="mb-2"
                        [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                        >Địa chỉ thường trú<span class="text-red-500">*</span></span>
                        <mat-form-field class="custom-input " appearance="outline">
                            <input matInput placeholder="Nhập địa chỉ thường trú" formControlName="address" />
                            <mat-error
                            *ngIf="form.get('address')?.errors?.['required']&& (form.get('address')?.dirty || form.get('address')?.touched)"
                            class="text-red-600">
                            {{'PopUpRegister.noEmty'|translate}}
                        </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex gap-3 w-full">
                    <div class="flex flex-col flex-1">
                        <span class="mb-2"
                        [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                        >Số CCCD/CMT/CMND<span class="text-red-500">*</span></span>
                        <mat-form-field class="custom-input " appearance="outline">
                            <input matInput placeholder="Số CCCD/CMT/CMND" formControlName="idNumber" />
                            <mat-error
                                *ngIf="form.get('idNumber')?.errors?.['required']&& (form.get('idNumber')?.dirty || form.get('idNumber')?.touched)"
                                class="text-red-600">
                                {{'PopUpRegister.noEmty'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class=" flex flex-col flex-1">
                        <span class="mb-2"
                        [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                        >Ngày cấp<span class="text-red-500">*</span></span>
                        <mat-form-field class="custom-input " appearance="outline">
                            <input placeholder="Nhập ngày cấp" formControlName="dateOfIssue" matInput [matDatepicker]="picker3" />
                            <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                            <mat-error
                                *ngIf="form.get('dateOfIssue')?.errors?.['required']&& (form.get('dateOfIssue')?.dirty || form.get('dateOfIssue')?.touched)"
                                class="text-red-600">
                                {{'PopUpRegister.noEmty'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col w-full">
                    <span class="mb-2"
                    [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                    >Nơi cấp<span class="text-red-500">*</span></span>
                    <mat-form-field class="custom-input " appearance="outline">
                        <input matInput placeholder="Nhập nơi cấp" formControlName="placeOfIssue" />
                        <mat-error
                            *ngIf="form.get('placeOfIssue')?.errors?.['required']&& (form.get('placeOfIssue')?.dirty || form.get('placeOfIssue')?.touched)"
                            class="text-red-600">
                            {{'PopUpRegister.noEmty'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex flex-col w-full mb-20">
                    <span class="mb-2"
                    [ngClass]="!isEdit ? 'font-normal text-[#888]' : 'font-medium text-textColor' "
                    >Căn cước công dân</span>
                    <div class="h-[250px] border-dashed border-2 rounded-lg border-[#000] flex items-center justify-center">
                      <img *ngIf="identityCardUrl" [src]="identityCardUrl" alt="Ảnh căn cước" class="h-full w-full object-cover" />
                      <span *ngIf="!identityCardUrl" class="text-gray-400">Chưa có ảnh</span>
                    </div>
                    <input type="file" (change)="handleFileChange($event, 'identityCard')" class="mt-2" [disabled]="!isEdit"/>
                </div>
            </form>
            <div class="flex justify-center items-center mt-6 h-[76px]">
                <div *ngIf="isEdit" class="w-fit flex gap-6">
                    <button type="button" (click)="handleEdit()"
                        class="w-[124px] py-2 !bg-danger rounded-lg shadow-shadow-timeword font-bold text-[16px] text-white hover:opacity-80">{{"Button.cancel"|translate}}</button>
                    <button type="button" (click)="handleSubmit()"
                        class="w-[124px] py-2 !bg-[#1DC469] rounded-lg shadow-shadow-timeword font-bold text-[16px] text-white hover:opacity-80">{{"Button.save"|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
