<nz-modal [(nzVisible)]="isVisiblePopUpCheckPassword" nzCentered [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalContent>
        <div class="pt-4 flex flex-col gap-5">
            <span class='text-[18px] font-medium text-primary'>
                Nhập password của bạn
            </span>
            <form [formGroup]="form" class="flex relative">
                <div class="w-full flex flex-col gap-2">
                    <span>Mật khẩu<span class="text-red-500">*</span></span>
                    <mat-form-field class="custom-input col-span-2 relative" appearance="outline">
                        <input matInput formControlName="password" 
                            [type]="hideOldPass ? 'password' : 'text'" autocomplete="off" />
                        <i *ngIf="hideOldPass" class="fas fa-eye absolute right-0 top-[50%] translate-y-[-50%]"
                        (click)="toggleShowOldPass()"></i>
                        <i *ngIf="!hideOldPass" class="fa-solid fa-eye-slash absolute right-0 top-[50%] translate-y-[-50%]"
                        (click)="toggleShowOldPass()"></i>
                        <mat-error class="text-red-600">
                            {{'PopUpRegister.noEmty'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <div class="flex justify-center">
            <button nz-button nzType="primary"
                class="!bg-primary text-white border-none  rounded-lg hover:opacity-60 hover:bg-primary  hover:text-white"
                (click)="handleOK()" [nzLoading]="isConfirmLoading">{{'Button.confirm'| translate }}</button>
        </div>
    </ng-template>
</nz-modal>

