<div
  class="bg-white rounded-md p-8 flex flex-col items-center justify-center text-center"
>
  <div class="flex items-center justify-center space-x-2 mb-4">
    <span
      nz-icon
      class="!text-danger !text-xl"
      nzType="exclamation-circle"
      nzTheme="outline"
    ></span>
    <span class="text-xl text-primary font-[500] uppercase">{{ title }}</span>
  </div>
  <span class="">{{ content }}</span>
  <div class="flex space-x-2 mt-4">
    <button (click)="confirm.emit(false)" nz-button nzType="default">
      Huỷ bỏ
    </button>
    <button (click)="confirm.emit(true)" nz-button nzType="primary">
      Xác nhận
    </button>
  </div>
</div>
